<p id="notice"><%= notice %></p>

<h1>Listing Users</h1>

<table>
  <thead>
    <tr>
      <th>Username</th>
      <th>Email</th>
      <th>Phone</th>
      <th>Friends</th>
      <th>Profile_PIC</th>
      <th>Location</th>
      <th>Groups</th>
      <th>Enrollments</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.username.upcase %></td>
        <td><%= user.email %></td>
        <td><%= user.phone %></td>
        <td><% user.friends.each do |friend| %>
            <%=friend.name %><br>
            <%end %>
        </td>
        <td><img src="<%= user.profile.picture_path %>" style= "width:100px; height: 100px" /></td>
        <td><%= user.profile.state.capitalize %></td>
        <td><%user.groups.each do |group| %>
                  <%=group.name %><br>
            <%end %></td>
        <td><%user.enrollments.each do |enrollment| %>
              <%=enrollment.college.name %><br>
            <%end %>
          </td>
        <td><%= link_to 'Show', user %></td>
        <td><%= link_to 'Edit', edit_user_path(user) %></td>
        <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User', new_user_path %>
